body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cfcdcd;
  color: black;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
button.exit {
  background-color: #ff3527;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
button.exit:hover {
  background-color: #d32f2f;
}
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(143, 211, 143);
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input,
select {
  padding: 7px;
  border: 1px solid white;
  border-radius: 4px;
}
button {
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.machine-list li {
  margin-bottom: 10px;
  background-color: wheat;
  padding: 10px;
  border-radius: 5px;
  list-style-type: decimal;
}
.machine-button {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.filter {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.button-hidden {
  background-color: rgb(143, 211, 143);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.bad-info {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}
strong {
  padding: 3px;
}
@media (max-width: 600px) {
  .machine-button {
    flex-direction: column;
  }
  button {
    width: 100%;
  }
  .filter {
    flex-direction: column;
  }
}
